/* STYLE BOARD
colors:
  healine: #2E003B;
  background: #F5DB12;
  body: #5AADC5;
  accents: #2F559A;

fonts:
  font-family: 'Bangers', cursive;
  font-family: 'Questrial', sans-serif;
*/

/*GLOBAL STYLE*/
body {
  background: #F5DB12;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 5em;
  letter-spacing: 20px;
  color: #2E003B;
  text-align: center;
}

h2 {
  font-family: 'Bangers', cursive;
  color: #5AADC5;
  letter-spacing: 3px;
  font-size: 1.75em;
  margin: 20px 25px 10px 50px;
}

p {
  font-family: 'Questrial', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin: 30px 25px 15px 50px;
  letter-spacing: 1px;
}

section img {
  max-width: 300px;
  border-radius: 35%;
  margin: 0 25px -10px 50px;
}

li {
  text-decoration: none;
  display: inline-block;
  float: right;
  padding: 15px;
  margin: 10px;
  background-color: #5AADC5;
  border-radius: 50%;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #F5DB12;
}

section {
  background: white;
  border-radius: 10%;
  margin: auto;
}

.source {
  font-size: .5em;
}

blockquote {
  font-family: 'Questrial', sans-serif;
  font-size: 1.5em;
  font-weight: 800;
  color: #2F559A;
}

p::first-letter {
  font-size: 1.5em;
  }

aside img {
  max-width: 250px;
  margin: auto;
}
